<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Setup custom configuration section and class that reads values from this custom section -->
    <section name="LogSection" type="Aucent.FilingServices.Log.LogSection,Aucent.FilingServices.Log"/>
  </configSections>
  <!-- Custom Configuration section. Aucent.FilingService.Log.LogSection is used to read in the values. -->
  <!-- Attribute logName : defines the event log name. Event log with this name is created if it doesnt exist. -->
  <!-- Attribute sourceName : defines the source to write to event log. -->
  <!-- Attribute exclude : defines type of messages to exclude while logging. -->
  <!--
      exclude flags : All,None,Info,Warning,Error
      exclude attribute acts as flags so to specify multiple flags use '|'.
      eg: Info|Warning
  -->
  <LogSection logName="ReportBuilder" sourceName="Dispatcher" exclude="None"/>
	<appSettings>

		<add key="PortNum" value="9501"/>
		<add key="ServerKey" value="ReportDispatcher1"/>
		<add key="EndPoint" value="ReportDispatcherServer"/>
		
	 </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
